@import './imports.scss';

// styles
* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: $mainbackground;
  overflow: scroll;
}

input {
  outline: none;
}

li {
  list-style-type: none;
}

main {
  margin-top: 80px;
  @media (max-width: 640px) {
    margin-top: 65px;
  }
  min-height: calc(100vh - 65px) !important;
  @media screen and (max-width: 425px) {
    min-height: calc(100vh - 51.5px) !important;
  }
}

.ant-layout,
.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  background: none;
}

::-webkit-scrollbar {
  height: 100%;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $mainbackground;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1ba52241;
  &:hover {
    background: #1ba52269;
  }
}

@media (max-width: 360px) {
  .text-4xl {
    font-size: 30px;
  }
}
