@import '../app/styles/variables.scss';

// files
@import './lib/hocs/CirclesWrapper/circlesWrapper.scss';
@import './components/Button/button.scss';
@import './components/Circles/circles.scss';
@import './components/SearchInput/searchInput.scss';
@import './components/TripleLoader/tripleLoader.scss';

.light-text {
  color: $lightText;
}

.padding-50 {
  padding-inline: 50px;
  @media (max-width: 800px) {
    padding-inline: 25px;
  }
  @media (max-width: 425px) {
    padding-inline: 15px;
  }
}

.min-max-width {
  max-width: $maxWidth;
  min-width: $minWidth;
  margin: 0 auto;
}
