@import '../../../app/styles/variables.scss';

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid $line;
  font-weight: 700;
  // background: $mainbackground;
  @media screen and (max-width: 425px) {
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
