@import '../../../app/styles/variables.scss';

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid $line;
  font-weight: 700;
  @media screen and (max-width: 425px) {
    p {
      font-size: 13px;
      font-weight: 600;
    }
    .prod {
      font-size: 14px;
    }

    padding-top: 15px;
    padding-bottom: 15px;
  }
}
