@import '../../../app/styles/variables.scss';

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 2px solid $line;
  background: $mainbackground;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 640px) {
    height: 65px;
  }
  .avatar {
    border-color: rgb(209 213 219 / 1);
    border-width: 2px;
    width: 56px;
    height: 56px;

    .chakra-avatar__img {
      border-radius: 0;
    }
  }
}
